@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

input {
    display: none;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
    background-image: url('../img/background.jpg')
}

img {
    width: 150px;
    height: 300px;
}

img:hover {
    transform: scale(1.5, 1.5);
    transition: transform.7s;
}

#c {
    text-align: center;
}